# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore provider binary directory
**/.terraform/providers/**

# Ignore any .terraform directories, no matter where they are in the project
**/.terraform/
   
# Ignore CLI configuration files
.terraformrc
erraform.rc